/* Testimonial Carousel */

#testimonial1 {
    background-color: #e9ecef; /* Add a background color to the first testimonial */
}

#testimonial2 {
    background-color: #e9ecef; /* Add a different background color to the second testimonial */
}

#image1 {
    width: 300px;
    height: 200px;
}

#image2 {
    width: 300px;
    height: 200px;
}

#image3 {
    width: 300px;
    height: 200px;
}

#mg0{
    width: 300px;
    height: 200px;

}
#mg1{
    width: 300px;
    height: 200px;

}
#mg2{
    width: 300px;
    height: 200px;

}
#lc{
    width: 300px;
    height: 200px;

}

